[package]
name = "warp"
version = "0.1.0" # don't forget to update html_root_url
description = "serve the web at warp speeds"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/warp"
repository = "https://github.com/seanmonstar/warp"
categories = ["web-programming::http-server"]
keywords = ["warp", "server", "http", "hyper"]

[dependencies]
base64 = "0.9.2"
bitflags = "1"
bytes = "0.4.8"
futures = "0.1"
http = "0.1"
hyper = "0.12.6"
log = "0.4"
scoped-tls = "0.1.2"
serde = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.5.2"
sha-1 = "0.7"
tokio = "0.1.7"
# tls is enabled by default, we don't want that yet
tungstenite = { default-features = false, version = "0.6" }


[dev-dependencies]
pretty_env_logger = "0.2"
serde_derive = "1.0"
handlebars = "1.0.0"

[profile.release]
codegen-units = 1
incremental = false

[profile.bench]
codegen-units = 1
incremental = false
