[package]
name = "warp"
version = "0.2.0-alpha.0" # don't forget to update html_root_url
description = "serve the web at warp speeds"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/warp"
repository = "https://github.com/seanmonstar/warp"
categories = ["web-programming::http-server"]
keywords = ["warp", "server", "http", "hyper"]
autotests = true
autoexamples = true
edition = "2018"

publish = false # while in pre-0.2.x alpha dev

[package.metadata.docs.rs]
features = ["tls"]

[dependencies]
bytes = "0.5"
futures = "0.3"
futures-util = "0.3"
headers = "0.3"
http = "0.2"
hyper = { version = "0.13", features = ["stream"] }
log = "0.4"
mime = "0.3"
mime_guess = "2.0.0"
multipart = { version = "0.16", default-features = false, features = ["server"], optional = true }
scoped-tls = "1.0"
serde = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.6"
tokio = { version = "0.2", features = ["fs", "time", "blocking", "tcp", "sync", "stream", "macros", "uds"] }
rustls = { version = "0.16", optional = true }
# tls is enabled by default, we don't want that yet
tungstenite = { default-features = false, version = "0.9", optional = true }
urlencoding = "1.0.0"
pin-project = "0.4.5"

[dev-dependencies]
pretty_env_logger = "0.3"
serde_derive = "1.0"
handlebars = "1.0.0"

[features]
default = ["multipart", "websocket"]
websocket = ["tungstenite"]
tls = ["rustls"]

[profile.release]
codegen-units = 1
incremental = false

[profile.bench]
codegen-units = 1
incremental = false

[[test]]
name = "multipart"
required-features = ["multipart"]

[[test]]
name = "ws"
required-features = ["websocket"]

[[example]]
name = "websockets"
required-features = ["websocket"]

[[example]]
name = "websockets_chat"
required-features = ["websocket"]
