[package]
name = "warp"
version = "0.2.0" # don't forget to update html_root_url
description = "serve the web at warp speeds"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/warp"
repository = "https://github.com/seanmonstar/warp"
categories = ["web-programming::http-server"]
keywords = ["warp", "server", "http", "hyper"]
autotests = true
autoexamples = true
edition = "2018"

[package.metadata.docs.rs]
features = ["tls"]

[dependencies]
bytes = "0.5"
futures = { version = "0.3", default-features = false, features = ["alloc"] }
headers = "0.3"
http = "0.2"
hyper = "0.13"
log = "0.4"
mime = "0.3"
mime_guess = "2.0.0"
multipart = { version = "0.16", default-features = false, features = ["server"], optional = true }
prost = { version = "0.6.1", optional = true }
prost-types = { version = "0.6.1", optional = true }
scoped-tls = "1.0"
serde = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.6"
tokio = { version = "0.2", features = ["blocking", "fs", "stream", "sync", "time"] }
tower-service = "0.3"
rustls = { version = "0.16", optional = true }
# tls is enabled by default, we don't want that yet
tungstenite = { default-features = false, version = "0.9", optional = true }
urlencoding = "1.0.0"
pin-project = "0.4.5"

[dev-dependencies]
pretty_env_logger = "0.3"
serde_derive = "1.0"
handlebars = "1.0.0"
tokio = { version = "0.2", features = ["macros"] }
prost-build = "0.6.1"

[features]
default = ["multipart", "websocket"]
proto = ["prost"]
tls = ["rustls"]
websocket = ["tungstenite"]

[profile.release]
codegen-units = 1
incremental = false

[profile.bench]
codegen-units = 1
incremental = false

[[test]]
name = "multipart"
required-features = ["multipart"]

[[test]]
name = "ws"
required-features = ["websocket"]

[[example]]
name = "unix_socket"
required-features = ["tokio/uds"]

[[example]]
name = "websockets"
required-features = ["websocket"]

[[example]]
name = "websockets_chat"
required-features = ["websocket"]

[[example]]
name = "proto"
required-features = ["proto"]