[package]
name = "warp"
version = "0.1.15" # don't forget to update html_root_url
description = "serve the web at warp speeds"
authors = ["Sean McArthur <sean@seanmonstar.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/warp"
repository = "https://github.com/seanmonstar/warp"
categories = ["web-programming::http-server"]
keywords = ["warp", "server", "http", "hyper"]

[dependencies]
bytes = "0.4.8"
futures = "0.1"
headers = "0.2"
http = "0.1"
hyper = "0.12.18"
log = "0.4"
mime = "0.3"
mime_guess = "2.0.0-alpha.6"
scoped-tls = "1.0"
serde = "1.0"
serde_json = "1.0"
serde_urlencoded = "0.5.3"
tokio = "0.1.11"
tokio-io = "0.1"
rustls = { version = "0.15", optional = true }
tokio-threadpool = "0.1.7"
# tls is enabled by default, we don't want that yet
tungstenite = { default-features = false, version = "0.8" }
urlencoding = "1.0.0"

[dev-dependencies]
pretty_env_logger = "0.3"
serde_derive = "1.0"
handlebars = "1.0.0"

[features]
tls = ["rustls"]

[package.metadata.docs.rs]
features = ["tls"]

[profile.release]
codegen-units = 1
incremental = false

[profile.bench]
codegen-units = 1
incremental = false
